<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employ.employment.mapper.ApplyInfoMapper">


    <!-- 增 -->
    <!--	ApplyStatus newApplyStatus 没有-->
    <insert id="add" >
        insert into
        apply_info (stuNum, jobId, internshipTime, dutyTime)
        values (#{stuNum}, #{jobId}, #{internshipTime}, #{dutyTime})
    </insert>


    <!-- 删 根据JobId-->
    <delete id="deleteByJobId" >
        delete from apply_info
        where jobId = #{jobId}
    </delete>

    <!-- 删 根据stuNum-->
    <delete id="deleteByStuNum" >
        delete from apply_info
        where stuNum = #{stuNum}
    </delete>

    <!--    根据stuNum jobId 删除-->
    <delete id="deleteByAppId">
        delete from apply_info
        where stuNum = #{stuNum} and jobId = #{jobId}
    </delete>

    <!-- 改 -->
    <update id="update" >
        update apply_info
        <trim prefix="set" suffixOverrides=",">
<!--            <if test="jobId != null">jobId = #{jobId},</if>-->
            <if test="internshipTime != null">internshipTime = #{internshipTime},</if>
            <if test="dutyTime != null">dutyTime = #{dutyTime},</if>
            <if test="ApplyStatus != null">ApplyStatus = #{ApplyStatus},</if>
            <if test="newApplyStatus != null">newApplyStatus = #{newApplyStatus},</if>
        </trim>
        where stuNum = #{stuNum}
    </update>

    <!-- 通用映射 -->
    <resultMap id="model" type="com.employ.employment.entity.ApplyInfo">
        <result property="stuNum" column="stuNum" />
        <result property="jobId" column="jobId" />
        <result property="internshipTime" column="internshipTime" />
        <result property="dutyTime" column="dutyTime" />
        <result property="ApplyStatus" column="ApplyStatus" />
        <result property="newApplyStatus" column="newApplyStatus" />
    </resultMap>

    <!-- 查 根据学生编号查-->
    <select id="getByStuNum" resultMap="model" >
        select * from apply_info
        where stuNum = #{stuNum}
    </select>

    <!-- 查 - 根据职位编号查 -->
    <select id="getByJobId" resultMap="model">
        select * from apply_info
        where jobId = #{jobId}
    </select>

    <!-- 公共查询sql片段 -->
    <sql id="select_sql">
        select *
        from apply_info
    </sql>

    <!-- 查询 -->
    <!-- 查集合 - 根据条件（参数为空时代表忽略指定条件） [G] -->
    <select id="getList" resultMap="model">
        <include refid="select_sql"></include>
        <where>
            <if test=' this.has("stuNum") '> and stuNum = #{stuNum} </if>
            <if test=' this.has("jobId") '> and jobId = #{jobId} </if>
            <if test=' this.has("internshipTime") '> and internshipTime = #{internshipTime} </if>
            <if test=' this.has("dutyTime") '> and dutyTime = #{dutyTime} </if>
            <if test=' this.has("ApplyStatus") '> and ApplyStatus = #{ApplyStatus} </if>
            <if test=' this.has("newApplyStatus") '> and newApplyStatus = #{newApplyStatus} </if>
        </where>
        order by
        <choose>
            <when test='sortType == 1'> stuNum desc </when>
            <when test='sortType == 2'> jobId desc </when>
            <when test='sortType == 3'> internshipTime desc </when>
            <when test='sortType == 4'> dutyTime desc </when>
            <when test='sortType == 5'> ApplyStatus desc </when>
            <when test='sortType == 6'> newApplyStatus desc </when>
            <otherwise> stuNum desc </otherwise>
        </choose>
    </select>

<!--    select `apply_info`.stuNum,`stu_info`.stuName,`apply_info`.jobId,`job_info`.jobName,`apply_info`.internshipTime,`apply_info`.dutyTime,`apply_info`.ApplyStatus,`apply_info`.newApplyStatus-->
<!--    from `apply_info` left join `job_info` on `apply_info`.jobId = `job_info`-->
<!--    left join `stu_info`.stuNum = `apply_info`.stuNum and `jobId` in-->
<!--    <select id="selectAllApplyByJobIds" parameterType="java.util.List" resultType="ApplyInfo">-->
    <select id="selectAllApplyByJobIds" parameterType="java.util.List" resultType="ApplyInfo">
        select `apply_info`.stuNum,`stu_info`.stuName,`apply_info`.jobId,`job_info`.jobName,`apply_info`.internshipTime,`apply_info`.dutyTime,`apply_info`.ApplyStatus,`apply_info`.newApplyStatus
        from `apply_info`, `job_info`, `stu_info`
        where `stu_info`.stuNum = `apply_info`.stuNum and `apply_info`.jobId = `job_info`.jobId
        and `apply_info`.jobId in
        <foreach collection="jobIds" item="jobId" index="index"
                 open="(" close=")" separator=",">
            #{jobId}
        </foreach>
        order by field(
        `apply_info`.`jobId`,
        <foreach collection="jobIds" separator="," item="jobId">
            #{jobId}
        </foreach>
        )
    </select>

    <select id="selectAllApplyByAppIds" parameterType="java.util.List" resultType="ApplyInfo">
        select stuNum,`apply_info`.jobId,`job_info`.jobName,internshipTime,dutyTime,ApplyStatus,newApplyStatus
        from `apply_info`, `job_info`
        where `stuNum` = #{stuNum} and `apply_info`.jobId = `job_info`.jobId and `apply_info`.`jobId` in
        <foreach collection="jobIds" item="jobId" index="index"
                 open="(" close=")" separator=",">
            #{jobId}
        </foreach>
        order by field(
        `apply_info`.`jobId`,
        <foreach collection="jobIds" separator="," item="jobId">
            #{jobId}
        </foreach>
        )
    </select>

    <select id="getByAppId" resultType="com.employ.employment.entity.ApplyInfo">
        select `apply_info`.stuNum,`apply_info`.jobId,`job_info`.jobName,`apply_info`.internshipTime,`apply_info`.dutyTime,`apply_info`.ApplyStatus,`apply_info`.newApplyStatus
        from `apply_info`, `job_info`
        where `apply_info`.jobId = #{jobId} and `apply_info`.stuNum = #{stuNum}
        and `job_info`.jobId = #{jobId}
    </select>

</mapper>
