<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employ.employment.mapper.CompanyInfoMapper">

	<!-- 增 [G] -->
	<insert id="add">
		insert into 
		company_info (compId, compName, compIndustry, compSize, compAddress, complink, creditcode, compEsDate, compIntro, approveStatus) 
		values (#{compId}, #{compName}, #{compIndustry}, #{compSize}, #{compAddress}, #{complink}, #{creditcode}, #{compEsDate}, #{compIntro}, #{approveStatus}) 
	</insert>

	<!-- 删 -->
	<delete id="delete">
		delete from company_info 
		where compId = #{compId}
	</delete>

	<!-- 改 [G] -->
	<update id="update">
		update company_info set
		compId = #{compId}, 
		compName = #{compName}, 
		compIndustry = #{compIndustry}, 
		compSize = #{compSize}, 
		compAddress = #{compAddress}, 
		complink = #{complink}, 
		creditcode = #{creditcode}, 
		compEsDate = #{compEsDate}, 
		compIntro = #{compIntro}, 
		approveStatus = #{approveStatus}
		where compId = #{compId}
	</update>


	<!-- ================================== 查询相关 ================================== -->
	<!-- select compId, compName, compIndustry, compSize, compAddress, complink, creditcode, compEsDate, compIntro, approveStatus from company_info  -->
	
	<!-- 通用映射：手动模式 -->
	<resultMap id="model" type="com.employ.employment.entity.CompanyInfo">
		<result property="compId" column="compId" />
		<result property="compName" column="compName" />
		<result property="compIndustry" column="compIndustry" />
		<result property="compSize" column="compSize" />
		<result property="compAddress" column="compAddress" />
		<result property="complink" column="complink" />
		<result property="creditcode" column="creditcode" />
		<result property="compEsDate" column="compEsDate" />
		<result property="compIntro" column="compIntro" />
		<result property="approveStatus" column="approveStatus" />
	</resultMap>
	
	<!-- 公共查询sql片段 -->
	<sql id="select_sql">
		select * 
		from company_info 
	</sql>
	
	<!-- 查 - 根据id -->
	<select id="getById" resultMap="model">
		<include refid="select_sql"></include>
		where compId = #{compId}
	</select>
	
	<!-- 查集合 - 根据条件（参数为空时代表忽略指定条件） [G] -->
	<select id="getList" resultMap="model">
		<include refid="select_sql"></include>
		<where>
			<if test=' this.has("compId") '> and compId = #{compId} </if>
			<if test=' this.has("compName") '> and compName = #{compName} </if>
			<if test=' this.has("compIndustry") '> and compIndustry = #{compIndustry} </if>
			<if test=' this.has("compSize") '> and compSize = #{compSize} </if>
			<if test=' this.has("compAddress") '> and compAddress = #{compAddress} </if>
			<if test=' this.has("complink") '> and complink = #{complink} </if>
			<if test=' this.has("creditcode") '> and creditcode = #{creditcode} </if>
			<if test=' this.has("compIntro") '> and compIntro = #{compIntro} </if>
			<if test=' this.has("approveStatus") '> and approveStatus = #{approveStatus} </if>
		</where>
		order by
		<choose>
			<when test='sortType == 1'> compId desc </when>
			<when test='sortType == 2'> compName desc </when>
			<when test='sortType == 3'> compIndustry desc </when>
			<when test='sortType == 4'> compSize desc </when>
			<when test='sortType == 5'> compAddress desc </when>
			<when test='sortType == 6'> creditcode desc </when>
			<when test='sortType == 7'> compEsDate desc </when>
			<when test='sortType == 8'> approveStatus desc </when>
			<otherwise> compId desc </otherwise>
		</choose>
	</select>
	
	
	
	
	
	
	
	
	

</mapper>
