<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employ.employment.mapper.UserMapper">
	<!-- ======================== 查询集合SQL相关 ======================== -->

	<!-- 获取指定表的全部字段全部数据 -->
	<select id="searchAll" parameterType="java.util.List" resultType="testUser">
		select * from test
	</select>



</mapper>